.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

  .menu, .logo{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .menu{
    margin-right: 200px;
  }
  .logo{
    padding-left: 50px;
    margin-left: 200px;
  }

  .menu li {
    list-style: none;
    position: relative;
    padding: 0 50px;
  }

  .menu li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color:black;
    white-space: nowrap;
    transition: 0.3s ease-in-out;
  }
  .menu li a:hover{
    color:slategrey;
  }
  .menu li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: slategrey;
    position: absolute;
    bottom: -4px;
    left: 30px;

  }

  .mobile {
    display: none
  }

  .mobile i{
    color: black;
    align-items: flex-start;
  }
  @media screen and (max-width:1500px){
    .menu li{
      padding: 0 40px;
    }
    .logo{
      padding-left: 40px;
    }
  }
  @media screen and (max-width:1380px){
    .menu li{
      padding: 0 30px;
    }
    .logo{
      padding-left: 30px;
    }
  }
  @media screen and (max-width:1266px){
    .menu li{
      padding: 0 20px;
    }
    .logo{
      padding-left: 20px;
    }
  }
  @media screen and (max-width:1100px){
    .menu li{
      padding: 0 14px;
    }
    .logo{
      padding-left: 14px;
    }
  }
  @media screen and (max-width:960px){
    .navbar {
      display: flex;
      justify-content:space-between;
      align-items: center;
      margin: 0 40px;
    }
    .logo{
      margin-left: 0;
      padding-left: 0px;
    }
    .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        position:fixed;
        z-index: 3;
        top: 115px;
        width: 400px;
        right: 0px;
        height: 100vh;
        padding: 0;
        margin: 0;
        background:black;
        padding: 40px 0 0 10px;
        box-shadow: 10px;
        transition: 0.3s ease-in-out;
        border-radius: 40px;
      }
      .menuActive {
        width: 0%;
      }
      .menuActive li {
        display: none;
      }
      .menu li {
        margin-bottom: 25px;
      }
      .menu li a {
        color: white;
      }
      .mobile {
        display: block;
        margin-bottom: 0px;
      }
      .mobile {
        cursor: pointer;
      }

  }
